<div class="side">
    <div class="sidenav">
        <a href="index.html">Home</a>
        <a href="ar-view.html">AR View/Mood Settings</a>
        <a href="devices.html">Devices</a>
        <a href="privacy.html">Sharing/Privacy</a>
        <!-- <a href="history-mapping.html">History/Mapping</a> -->
        
    </div>
</div>
<!-- code for dropdown menu if needed -->
<!--
<button class="dropdown-btn">Dropdown Menu
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
    <a href="#">Happiness</a>
    <a href="#">Surprise</a>
    <a href="#">Sadness</a>
    <a href="#">Anger</a>
    <a href="#">Fear</a>
    <a href="#">Disgust</a>
</div>
-->