<div class="side">
    <div class="sidenav">
        <a href="#home">Home</a>
        <a href="#devices">Devices</a>
        <button class="dropdown-btn">Mood Settings
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Happiness</a>
            <a href="#">Surprise</a>
            <a href="#">Sadness</a>
            <a href="#">Anger</a>
            <a href="#">Fear</a>
            <a href="#">Disgust</a>
        </div>
        <a href="#sharing">Sharing/Privacy</a>
        <a href="#history">History/Mapping</a>
        <a href="#sharing">AR View (needed?)</a>
        <button class="dropdown-btn">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
    </div>
</div>